.idea
cmake-build-debug
*.out
*.s
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
_minted*
*.fls
*.fdb_latexmk
*(Security copy)*
svg-inkscape
~$*
.vscode
*.zip
_latexindent_*
.fuse_hidden*
*.zip
tests
samples
*.exe
*.s